.show__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  // background-color: yellow;
  min-width: 350px;

  width: 60%;
  min-height: 600px;
  z-index: 2;
  padding: 4px;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}
.show__content_2{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(21,21,21,0.7);
  box-shadow: 175px 40px 50px rgba(255,255,255,0.7);
}
.show__frame_left_top {
  width: 100%;
  height: 150px;
  // background-color: purple;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show__frame_left_top_item {
  height: 150px;
  width: 150px;
  // background-color: blue;
  border-top: 4px solid rgba(181,181,181,0.7);
  border-left: 4px solid rgba(181,181,181,0.7);
  border-radius: 4px;
  margin: -4px 0 0 -4px;
}
.show__frame_right_top_item {

}
.show__element {
  width: 94%;
  height: 100%;
  margin: -110px 0;
  // background-color: blue;
  z-index: 2;
  // transform: translateZ(130px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.show__frame_right_bottom {
  width: 100%;
  height: 150px;
  // background-color: purple;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show__frame_left_bottom_item {
}
.show__frame_right_bottom_item {
  height: 150px;
  width: 150px;
  // background-color: blue;
  border-right: 4px solid rgba(181,181,181,0.7);
  border-bottom: 4px solid rgba(181,181,181,0.7);
  border-radius: 4px;
  margin: 0 -4px -4px 0;
}

.element_box {
  width: 100%;
  height: 100%;
}

.person_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.person_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  min-height: 200px;
  margin-bottom: 50px;
}
.person_image {
  margin: 20px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  background-image: url('/ava.webp');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
}
.person_description {
  margin: 20px 0;
  width: 60%;
  min-width: 200px;
  min-height: 150px;
  text-align: center;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.person_description h1{
  color:white;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  margin: 6px;
}
.person_description h2{
  color:white;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
    margin: 6px;
}
.person_content {
  width: 90%;
  min-height: 200px;
  height: 62%;

}
.content_conteiner {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  color:white;
  align-items: center;
  justify-content: center;
}
.content_element {
  text-align: center;
  padding: 25px;
  line-height: 15px;
}
.content_question h3{
  font-weight: 500;
  font-size: 18px;
    line-height: 16px;
    margin: 12px;
}
.content_answer h3{
  font-weight: 300;
  font-size: 15px;
    line-height: 16px;
    margin: 12px;
}
